body {
	background-image: url("bgimages/ircbgpage.jpg");
	background-position: center top;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
#mibbit_widgett {
	display: block;
    width: 800px;
    height: 600px;
	margin: auto;
    border: 2px solid yellow;
}
#mibbit_quote {
	text-align: center;
	color: green;
}
#mibbit_quote_second {
	color: red;
}
.mibbit_help {
	text-align: center;
	color: darkorange;
	margin: auto;
	width: 800px;
	height: 100px;
}
.mainmenu {
	text-align: center;
}
#connect_problems {
	width: 500px;
	height: 600px;
}
#mibbit_help_text {
	text-align: left;
	color: darkgreen;
}
#qwebirc {
	display: block;
	width: 800px;
	height: 600px;
	margin: 20px auto;
	border: 0;
}
.body_widgets {
	width: auto;
	height: auto;
}
#ip_finder {
	width: 250px;
	height: 100%;
	margin: auto;
}
#ip_flag {
	width: 250px;
	height: 100%;
	margin: auto;
	margin-left: 630px;
}